.u-disabled, .disabled {
  opacity: .3;
  pointer-events: none; }

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.u-button {
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease; }
  .u-button:hover {
    color: white;
    transition: all 0.3s ease; }

.u-circle {
  border-radius: 50%;
  overflow: hidden; }

.u-transition, .topic, .topic:hover {
  transition: all .4s ease; }

.lang-select {
  padding: 0 10px;
  color: white;
  line-height: 50px;
  vertical-align: middle; }
  .lang-select .lang_select-active {
    color: #FFAA00;
    font-weight: 700; }

.text-centered {
  text-align: center; }

.top-bar--main-color {
  background-color: #2c4758; }
  .top-bar--main-color .top-bar__button {
    background-color: #335266; }
    .top-bar--main-color .top-bar__button:hover {
      background-color: #FFAA00; }

@media (max-width: 500px) {
  .top-bar__logo {
    padding: 0;
    padding-left: 7px; } }
@media (max-width: 500px) {
  .top-bar__logo img {
    height: 73%;
    width: 100%;
    padding-top: 13px;
    padding-right: 0; } }

@media (max-width: 64em) {
  .top-section {
    padding-top: 30px;
    padding-bottom: 20px; } }

.top-section--main-color {
  background-color: #2c4758; }

.top-section--theme-color {
  background-color: #04ccb7;
  color: #2c4758; }

.top-section--white {
  background-color: white; }
  @media (max-width: 500px) {
    .top-section--white {
      padding-bottom: 0; } }

.top-section--background-panel,
.top-section--background-panel-theme-color {
  color: white;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center top; }
  .top-section--background-panel .top-section__content,
  .top-section--background-panel-theme-color .top-section__content {
    margin: 80px 0; }
    @media (max-width: 440px) {
      .top-section--background-panel .top-section__content h1,
      .top-section--background-panel-theme-color .top-section__content h1 {
        font-size: 2.5rem; }
      .top-section--background-panel .top-section__content h3,
      .top-section--background-panel-theme-color .top-section__content h3 {
        font-size: 1.3rem; } }

@media (max-width: 39.9375em) {
  .top-section #recommendations-title {
    font-size: 2.8rem; } }

.top-section--background-panel {
  background-color: #2c4758; }

.top-section--background-panel-theme-color {
  background-color: #04ccb7; }
  .top-section--background-panel-theme-color h3 {
    color: white;
    opacity: 1; }

.page-section--main-color {
  background-color: #2c4758; }
.page-section--theme-color {
  background-color: #04ccb7; }
.page-section__highlight {
  font-size: 1.4rem; }
.page-section--zebra-dark {
  background-color: rgba(0, 0, 0, 0.03);
  padding-top: 0; }
  .page-section--zebra-dark .video-caption {
    text-align: center;
    font-size: 1.2rem;
    padding: 0; }
  @media (max-width: 500px) {
    .page-section--zebra-dark {
      padding-top: 0; } }

.divider--theme-color {
  background-color: #04ccb7;
  color: #2c4758; }

.divider--main-color {
  background-color: #2c4758;
  color: white; }

.button--accent-color {
  background-color: #FFAA00;
  color: white;
  font-weight: 600;
  margin-top: 10px; }
  .button--accent-color:hover {
    background-color: #d68f00;
    color: white; }

.button--disabled {
  cursor: default; }
  .button--disabled:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.imagine-banner {
  padding: 24px; }
  .imagine-banner h2 {
    padding-bottom: 0;
    font-size: 1.5rem;
    text-transform: none;
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: #2c4758;
    height: 30vh; }
    @media (max-width: 64em) {
      .imagine-banner h2 {
        font-size: 1.2rem; } }
  @media only screen and (max-width: 64em) {
    .imagine-banner h2 {
      font-size: 1rem; } }

    @media (min-width: 740px) {
      .imagine-banner h2 {
        height: 18vh; } }
    @media (min-width: 40em) {
      .imagine-banner h2 {
        padding: 30px;
        font-size: 1.2rem; } }
    .imagine-banner h2:after {
      color: white;
      animation: imagine 10s linear infinite; }

@media (max-width: 500px) {
  .more-info {
    padding-right: 0; } }
.more-info p {
  font-size: 1.3rem; }

.site-logo {
  max-width: 520px;
  margin-top: 70px; }
@media (max-width: 64em) and (max-width: 565px) {
  .site-logo {
    max-width: 19rem; } }

  @media (max-width: 500px) {
    .site-logo {
      max-width: 22rem; } }
  .site-logo__wrapper {
    text-align: center; }

.main-buttons {
  text-align: center;
  margin-bottom: -55px;
  position: relative;
  z-index: 1; }
  @media only screen and (max-device-width: 400px) and (-webkit-min-device-pixel-ratio: 2) {
    .main-buttons .button {
      width: 46%; } }
  .main-buttons__index .button {
    margin: 0 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #2c4758; }
    .main-buttons__index .button:hover {
      background-color: #04ccb7; }
  @media only screen and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
    .main-buttons .nodisplay {
      display: none; } }
  @media only screen and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
    .main-buttons .yesdisplay {
      width: 75%; } }

.secondary-buttons {
  text-align: center;
  padding: 0;
  margin-top: 20px; }
  .secondary-buttons .button {
    width: 100%; }

.conference-date,
.conference-time {
  margin: 0;
  padding: 0;
  font-weight: 300; }
  .conference-date__label,
  .conference-time__label {
    text-transform: uppercase; }

.participants ul {
  padding: 0; }
.participants li {
  display: inline-block;
  overflow: auto;
  width: 46%;
  vertical-align: top;
  list-style-type: none;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.6); }
  .participants li strong {
    color: rgba(0, 0, 0, 0.9);
    display: block; }
.participants .fa-twitter {
  color: #FFAA00; }

.resource-link {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
  color: #2c4758; }

.resource-link:hover {
  color: #253c4a;
  text-decoration: none;
  cursor: pointer; }

.main-video {
  text-align: center; }

.side-buttons {
  height: 240px;
  padding-top: 23px;
  padding-bottom: 23px; }
  @media (max-width: 500px) {
    .side-buttons {
      padding-top: 0;
      padding-bottom: 0;
      height: 210px; } }
  .side-buttons .button {
    width: 290px; }

.button--map {
  width: 130px;
  margin-left: 20px;
  margin-right: 20px; }

.main-buttons__map {
  margin-bottom: 0px;
  margin-top: -44px; }

li {
  margin-right: 20px; }

.topic {
  color: white;
  position: relative;
  background-blend-mode: multiply;
  background-color: #2c4758;
  background-size: cover;
  background-position: center top; }
  @media (min-width: 40em) {
    .topic {
      padding: 40px 40px; } }
  @media (min-width: 64em) {
    .topic {
      padding: 80px 80px; } }
  @media (max-width: 640px) {
    .topic {
      padding: 45px; } }
  .topic:hover {
    background-color: #04ccb7; }
  .topic__date {
    text-align: right;
    right: 30px;
    bottom: 15px; }
    @media (min-width: 40em) {
      .topic__date {
        position: absolute; } }
    .topic__date h6 {
      margin: 10px 0 0;
      line-height: 1;
      display: inline-block;
      font-size: 1rem; }
    .topic__date-past {
      color: #FFAA00; }
  .topic__month, .topic__day, .topic__year {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem; }
  .topic--disabled {
    color: rgba(255, 255, 255, 0.3);
    opacity: .6;
    pointer-events: none; }
  .topic--inactive {
    color: rgba(255, 255, 255, 0.4);
    opacity: .9;
    pointer-events: none;
    padding: 40px; }
    .topic--inactive:nth-of-type(odd) {
      background-color: rgba(44, 71, 88, 0.95); }
    .topic--inactive:nth-of-type(even) {
      background-color: #2c4758; }
  .topic h1 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative; }
    @media (max-width: 640px) {
      .topic h1 {
        font-size: 20px; } }
  .topic p {
    font-weight: 400;
    font-size: 20px; }
    @media (max-width: 640px) {
      .topic p {
        font-size: 18px; } }

.error-messages {
  color: red; }

.field-required::after {
  content: " *";
  color: red; }

.hidden-form-field {
  display: none; }

.form-checkbox-group,
.form-radio-group {
  padding: 0 0 10px 0; }
  .form-checkbox-group li,
  .form-radio-group li {
    list-style-type: none; }

.partner {
  list-style: none;
  vertical-align: text-top;
  margin-top: 20px; }
  .partner .partner-name {
    color: black;
    font-weight: 600; }
  .partner .partner-title {
    color: gray; }
  .partner .partner-affiliation {
    color: gray; }

.partner-country h3 {
  text-align: right;
  font-weight: 300;
  font-size: 20px;
  margin-top: 20px; }

@media (max-width: 64em) {
  .partner-container .partner-country h3 {
    text-align: left; } }
@media (max-width: 64em) and (min-width: 515px) {
  .partner-container {
    padding-left: 20%; }
    .partner-container .partner {
      padding: 0; } }
@media (max-width: 64em) and (max-width: 515px) {
  .partner-container .partner {
    padding: 0; } }

#map-wrapper {
  position: relative;
  height: 470px; }
  #map-wrapper svg {
    top: -100px;
    left: -60px; }
    #map-wrapper svg circle {
      stroke-opacity: .1; }
  @media (max-width: 1100px) {
    #map-wrapper {
      transform: scale(0.7);
      height: 380px;
      margin-top: -100px; } }

@media (max-width: 600px) {
  #map-wrapper,
  .filters-wrapper {
    display: none; } }

#map {
  width: 1000px;
  height: 560px;
  background-image: url("/images/world_map_bg.svg");
  background-size: 100%;
  opacity: .06;
  background-repeat: no-repeat;
  position: absolute;
  top: -100px;
  left: -60px; }

.filters-wrapper h5 {
  text-align: left;
  margin: 0; }

.map-title {
  display: none; }
  @media (max-width: 500px) {
    .map-title {
      display: block;
      padding-bottom: 20px; } }

.filters1,
.filters2 {
  text-align: left; }
  .filters1 > .button,
  .filters2 > .button {
    margin: 2px 1px; }

.table-sortable th {
  background-color: #2c4758; }
.table-sortable .name-cloumn {
  width: 25%; }
.table-sortable .sector-column {
  width: 25%; }
.table-sortable .topic-column {
  width: 25%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.table-sortable .organization-column {
  width: 25%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.expert-list-section {
  padding-top: 0;
  padding-bottom: 0; }
  .expert-list-section .table-sortable__head-cell {
    background-color: #273f4e; }

.table-sortable__head-cell .material-icons {
  color: white; }

.button--small {
  font-size: .8rem;
  padding: 7px 12px; }

.button--active {
  background-color: #04ccb7;
  color: #2c4758; }
  .button--active:hover {
    background-color: #03ae9c; }

.table-sortable .sector-column {
  width: 250px; }
  @media (max-width: 600px) {
    .table-sortable .sector-column {
      display: none; } }
@media (max-width: 960px) {
  .table-sortable .organization-column {
    display: none; } }

.explore-map {
  text-align: center;
  background-image: url("/images/map-banner.png");
  display: block;
  padding: 100px 0 40px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: #273f4e; }
  .explore-map h5 {
    font-size: 1.7rem; }
  .explore-map:hover {
    background-color: #273f4e;
    text-decoration: none; }
    .explore-map:hover h5 {
      color: #04ccb7; }

.dashboard {
  position: absolute;
  bottom: 20px; }
  .dashboard__item {
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8rem;
    padding-bottom: 15px; }
    .dashboard__item > span {
      font-size: 1.5rem;
      font-weight: 300;
      display: block;
      line-height: 1;
      color: #04ccb7; }
  .dashboard--left {
    text-align: left;
    left: 0; }
  .dashboard--right {
    text-align: right;
    right: 0; }

.reset-filters1, .reset-filters2 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
  display: inline-block;
  padding: 3px 6px;
  margin-left: 15px;
  cursor: pointer;
  opacity: .5;
  position: relative;
  z-index: 20; }
  .reset-filters1:hover, .reset-filters2:hover {
    opacity: 1; }

@media (max-width: 500px) {
  .table-sortable th:first-child, .table-sortable td:first-child {
    width: 20px; } }

@media (max-width: 500px) {
  .table-sortable__head-cell .name-column {
    width: 20px; } }

@media (max-width: 500px) {
  .table-sortable .topic-column {
    width: 45%; } }

.table-sortable td {
  padding: 15px 0; }
.table-sortable__head-cell {
  background-color: #253c4a;
  padding: 0;
  position: relative; }
  .table-sortable__head-cell > span {
    padding: 15px 0;
    display: inline-block; }
.table-sortable__control-group {
  float: right;
  margin-right: 15px; }
.table-sortable__control {
  float: left;
  padding: 15px;
  color: rgba(0, 0, 0, 0.2); }
  .table-sortable__control > i {
    vertical-align: middle; }
  .table-sortable__control:hover {
    color: white; }
  .table-sortable__control--simple {
    display: inline-block; }
  .table-sortable__control--simple:hover {
    background-color: rgba(0, 0, 0, 0.1); }
.table-sortable__search {
  position: absolute;
  top: 0;
  right: 68px;
  left: calc(100% - 92px);
  display: flex;
  overflow: hidden;
  transition: all .3s ease;
  max-width: 0; }
  .table-sortable__search--active {
    left: -15px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    transition: all .3s ease;
    max-width: 100%; }
  .table-sortable__search input[type='text'] {
    flex: 1;
    margin: 0;
    padding: 10px 15px;
    background-color: #243947;
    color: white; }
    .table-sortable__search input[type='text']::-webkit-input-placeholder {
      color: white; }
    .table-sortable__search input[type='text']:-moz-placeholder {
      color: white; }
    .table-sortable__search input[type='text']::-moz-placeholder {
      color: white; }
    .table-sortable__search input[type='text']:-ms-input-placeholder {
      color: white; }
    .table-sortable__search input[type='text']:focus {
      background-color: #203440; }
  .table-sortable__search button {
    padding: 15px 15px 13px;
    border-radius: 0;
    background-color: #1e313d; }
    .table-sortable__search button:hover {
      background-color: #1b2c36; }

.recommendation-filters {
  background-color: rgba(0, 0, 0, 0.8); }

@media (min-width: 64em) {
  .isotope {
    margin-left: 15px; } }

.recommendation-card {
  width: calc(33% - 30px);
  background-color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin: 0 12px 24px;
  vertical-align: top; }
  @media (max-width: 63.9375em) {
    .recommendation-card {
      width: calc(50% - 20px);
      margin: 10px; } }
  @media (max-width: 39.9375em) {
    .recommendation-card {
      width: calc(100% - 20px);
      margin: 10px;
      height: auto; } }
  .recommendation-card header,
  .recommendation-card section,
  .recommendation-card footer {
    padding: 10px 25px;
    width: 100%; }
  .recommendation-card a {
    text-decoration: none; }
    .recommendation-card a:hover {
      color: #04ccb7; }
  .recommendation-card h1, .recommendation-card h2, .recommendation-card h3, .recommendation-card h4, .recommendation-card h5 {
    font-size: 1.4rem;
    margin: 0;
    color: #2c4758; }
  .recommendation-card h5 {
    font-size: 1rem; }
  .recommendation-card p {
    font-size: 1rem; }
  .recommendation-card header {
    background-color: #04ccb7; }
    .recommendation-card header h1 {
      color: white;
      font-weight: 400;
      line-height: 1.2;
      margin: 5px; }
  .recommendation-card footer {
    background-color: rgba(0, 0, 0, 0.1); }
  .recommendation-card__resources h5 > span {
    font-weight: 400;
    text-transform: none;
    opacity: .5; }
  .recommendation-card__timeline {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 30px;
    display: flex;
    align-items: center; }
    .recommendation-card__timeline h5 {
      margin: 0; }
  .recommendation-card__contacts {
    background-color: rgba(0, 0, 0, 0.05); }
    .recommendation-card__contacts p {
      line-height: 1.4;
      margin: 0; }
  .recommendation-card__tags {
    display: flex; }
    .recommendation-card__tags p {
      margin: 0 10px 0 0; }
  .recommendation-card__tag {
    font-size: .8rem;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 6px;
    margin: 1px;
    color: white;
    background-color: #04ccb7; }
    .recommendation-card__tag a:hover {
      color: #2c4758; }
  .recommendation-card__tag-focus {
    background-color: #2c4758; }
    .recommendation-card__tag-focus a:hover {
      color: #04ccb7; }
  .recommendation-card--topic {
    width: calc(50% - 20px);
    margin: 10px; }
    @media (max-width: 39.9375em) {
      .recommendation-card--topic {
        width: calc(100% - 20px);
        margin: 10px;
        height: auto; } }

.resources {
  display: inline-block;
  color: #FFAA00;
  float: right; }
  .resources > i {
    font-size: 1.2rem;
    transform: scale(1.6);
    margin: 0 2px; }

.timeline {
  margin-left: 20px; }
  .timeline__item {
    height: 16px;
    width: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 0 1px; }
  .timeline--cons {
    background-color: #04ccb7; }
  .timeline--aggr {
    background-color: #2c4758; }

#clear-filter-btn {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  padding: 9px 10px; }
  #clear-filter-btn:hover {
    background-color: rgba(0, 0, 0, 0.2); }

@media (max-width: 39.9375em) {
  .clear-btn-lg {
    display: none; } }
@media (max-width: 63.9375em) {
  .clear-btn-lg {
    display: none; } }

.clear-btn-sm {
  text-align: center; }
  @media (min-width: 64em) {
    .clear-btn-sm {
      display: none; } }

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

* {
  box-sizing: border-box; }

.footer-alt {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px; }
  .footer-alt h4 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 0; }
  .footer-alt .footer__partner-logo {
    text-align: center;
    padding-bottom: 30px; }
    .footer-alt .footer__partner-logo img {
      max-height: 80px;
      border: dashed;
      border-color: transparent; }

.checkbox label {
  display: inline-block;
  margin-left: 2.5em; }

.checkbox label:before {
  margin-left: -40px; }

.main-menu:not(.m-active) {
  box-shadow: none; }

.main-menu {
  overflow-y: auto; }

.form--negative .select {
  color: white; }
