---
layout: default
---


<section class="top-section top-section--theme-color top-section--background-panel-theme-color" style="background-image: url({{site.url}}{{site.baseurl}}/images/topics/{{page.image}})">
    <div class="row expanded align-center">
      <div class="medium-10 large-6 column top-section__content">
        {% case site.lang %}
        {% when "es" %}
        <h3>INFORMACIÓN DE LA CONFERENCIA</h3>
        <h1>{{page.title}}</h1>
        <h3>{{page.short_description}}</h3>
        {% when "en" %}
        <h3>Conference Information</h3>    
        <h1>{{page.en.title}}</h1>
        <h3>{{page.en.short_description}}</h3>
        {% endcase %}
      </div>
    </div>
  <div class="row expanded align-center">
    <div class="large-4 column medium-5">
      {% case site.lang %}
      {% when "es" %}
      <span class="conference-date__label">FECHA</span>
      {% when "en" %}
      <span class="conference-date__label">Date</span>
      {% endcase %}
      <h4 class="conference-date">{{page.conference.date}}</h4>
    </div>
    <div class="large-4 column medium-5">
      {% case site.lang %}
      {% when "es" %}
      <span class="conference-date__label">Hora</span>
      {% when "en" %}
      <span class="conference-date__label">Time</span>
      {% endcase %}
      <h4 class="conference-time">{{page.conference.time}}</h4>
    </div>
  </div>
  <div class="main-buttons">
    {% case site.lang %}
    {% when "es" %}
    <a href="{{site.url}}{{site.baseurl}}/call-for-participants.html" class="button button--accent-color">PARTICIPA</a>
    {% when 'en' %}
    <a href="{{site.url}}{{site.baseurl}}/call-for-participants.html" class="button button--accent-color">Participate</a>
    {% endcase %}
  </div>
</section>
<section class="page-section">
{% if page.problem_description_summary %}
  <div class="row align-center">
    <div class="column large-9 medium-10">
      {% case site.lang %}
      {% when "es" %}
      <h5>DESCRIPCIÓN DEL PROBLEMA</h5>
      <p>{{page.problem_description_summary}}</p>
      <a href="{{ page.problem_description_link_spanish }}" target="_blank" class="button button--accent-color">LEER LA DESCRIPCIÓN DEL PROBLEMA</a>
      {% when "en" %}
      <h5>Problem Description</h5>
      <p>{{page.en.problem_description_summary}}</p>
      <a href="{{ page.problem_description_link }}" target="_blank" class="button button--accent-color">Read the Problem Description</a>
      {% endcase %}
    </div>
  </div>
{% endif %}
  <div class="row align-center">
    <div class="column large-9 medium-10">
      {% case site.lang %}
      {% when "es" %}
      <h5>SOLICITA UNA INVITACIÓN</h5>
      <p>¿Te gustaría compartir tus habilidades para afrontar emergencias de salud pública? ¿Tratar temas con distintos innovadores y profesionales para perfeccionar ideas buenas y convertirlas en proyectos aplicables? Participa en una conversación con socios gubernamentales interesados en poner en práctica nuevos enfoques para combatir el zika y otras enfermedades trasmitidas por mosquitos.</p>
      <a href="{{site.url}}{{site.baseurl}}/call-for-participants.html" target="_blank" class="button button--accent-color">SOLICITA UNA INVITACIÓN</a>
      {% when "en" %}
      <h5>Request an Invitation</h5>
      <p>Would you like to lend your skills to tackle a public health emergency? Deliberate with diverse innovators and professionals to refine good ideas into actionable projects? Join a conversation with government partners interested in implementing new approaches to combatting Zika and other mosquito-borne diseases.</p>
      <a href="{{site.url}}{{site.baseurl}}/call-for-participants.html" target="_blank" class="button button--accent-color">Request an Invitation</a>
      {% endcase %}
    </div>
  </div>
  {% if page.post_conference.takeaways_link %}
    <div class="row align-center">
      <div class="column large-9 medium-10">
        {% case site.lang %}
        {% when "es" %}
        <h5>CONCLUSIONES DE LA CONFERENCIA</h5>
        <p>En cada sesión en línea, los participantes compartieron con los gobiernos ideas innovadoras para enfrentar el problema específico de la conferencia. Conoce las propuestas planteadas por los participantes en el siguiente documento.</p>
        <a href="{{page.post_conference.takeaways_link}}" class="button button--accent-color">LEER CONCLUSIONES</a>
        {% when "en" %}
        <h5>Conference Takeaways</h5>
        <a href="{{page.post_conference.takeaways_link}}" class="button button--accent-color">Read the takeaways</a>
        {% endcase %}
      </div>
    </div>
  {% endif %}
</section>

<section class="divider divider--theme-color">
  {% case site.lang %}
  {% when "es" %}
  <h1>PARTICIPANTES</h1>
  {% when "en" %}
  <h1>Participants</h1>
  {% endcase %}
</section>
<section class="page-section">
  {% if page.conference.supporting_participants %}
  <div class="row align-center">
    <div class="column large-9 medium-10 participants">
    {% case site.lang %}
    {% when "es" %}
    <h4>COLABORADORES</h4>
    {% when "en" %}
    <h4>Supporters</h4>
    {% endcase %}
        <ul id="participants_list">
        {% for person in page.conference.supporting_participants %}
          <li><strong>{{person.name}} {% if person.twitter_url%}<a href="{{person.twitter_url}}" target='_blank'><span class='fa fa-twitter' aria-hidden='true'></span></a> {% endif %}</strong>{{person.title}} <br>{{person.affiliation}}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if page.conference.partner_participants %}
  <div class="row align-center">
    <div class="column large-9 medium-10 participants">
    {% case site.lang %}
    {% when "es" %}
    <h4>SOCIOS GUBERNAMENTALES</h4>
    {% when "en" %}
    <h4>Government Partners</h4>
    {% endcase %}
      {% for p in page.conference.partner_participants %}
      <h5>{{p.name}}</h5>
        <ul id="participants_list">
        {% for person in p.people %}
          <li><strong>{{person.name}} {% if person.twitter_url%}<a href="{{person.twitter_url}}" target='_blank'><span class='fa fa-twitter' aria-hidden='true'></span></a> {% endif %}</strong>{{person.title}} <br>{{person.affiliation}}</li>
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</section>


<section>
  {% if page.conference.resources %}
  <div class="row align-center">
    <div class="columns large-8 medium-10">
      <!-- <h5>Conference Resources</h5> -->
      <h5>Documentos de la Conferencia</h5>
      {% for resource in page.conference.resources %}
        <p><a href="{{resource.url}}"> {{resource.name}} </a></p>
      {% endfor %}
    </div>
  </div>
  {% endif %}

{% if page.topic.post_conference.is_active %}
  <section class="page-section">
    <div class="row align-center">
      <div class="columns large-8 medium-10">
        <!-- <h5>Takeaways</h5> -->
        <h5>Conclusiones</h5>
        <p>{{ page.post_conference.takeaways }}</p>
      </div>
    </div>
    <div class="row align-center">
      <div class="columns large-8 medium-10">
        <!-- <h5>Action Items</h5> -->
        <h5>Compromisos</h5>
        <p>{{ page.post_conference.action_items }}</p>
      </div>
    </div>
  </section>
{% endif %}
</section>
