---
layout: default

---

{% assign solutions = site.data.contentful.spaces.solutions.solution %}

<section class="top-section top-section--main-color top-section--background-panel" style="background-image: url({{'/images/topics/' | append: page.image | relative_url}})">
  <div class="row expanded align-center">
    <div class="medium-10 large-9 column top-section__content">
      {% case site.lang %}
      {% when "es" %}
      <h1>{{page.title}}</h1>
      <h3>{{page.short_description}}</h3>
      {% when "en" %}
      <h1>{{page.en.title}}</h1>
      <h3>{{page.en.short_description}}</h3>
      {% endcase %}
    </div>
  </div>
  <div class="main-buttons">
    {% case site.lang %}
    {% when "es" %}
      {% if page.is_active and page.conference %}
      <a href="{{'/' | append: page.slug | append: '-conference.html' | relative_url}}" class="button button--accent-color">CONFERENCIA</a>
      <a href="{{'/call-for-participants.html' | relative_url}}" class="button button--accent-color">Participa</a>
      {% endif %}
    {% when "en" %}
    <a href="{{'/' | append: page.slug | append: '-conference.html' | relative_url}}" class="button button--accent-color">Conference</a>
    <a href="{{'/call-for-participants.html' | relative_url}}" class="button button--accent-color">Participate</a>
    {% endcase %}
  </div>
</section>

<section class="page-section">
  <div class="row align-center">
    <div class="column large-9 medium-10">
      {% case site.lang %}
      {% when "es" %}
      <h5>FOCO</h5>
      <p class="page-section__highlight">{{page.focus}}</p>
      {% when "en" %}
      <h5>FOCUS</h5>
      <p class="page-section__highlight">{{page.en.focus}}</p>
      {% endcase %}
    </div>
  </div>
  {% if page.problem_description_link %}
  <div class="row align-center">
    <div class="column large-9 medium-10">
      {% case site.lang %}
      {% when "es" %}
      <h5>DESCRIPCIÓN DEL PROBLEMA</h5>
      <p class="page-section__highlight">{{page.topic_description_summary}}</p>
      <p><a href="{{ page.problem_description_link_spanish }}" target="_blank" class="button button--accent-color">LEER LA DESCRIPCIÓN DEL PROBLEMA</a>
      {% when "en" %}
      <h5>PROBLEM DESCRIPTION</h5>
      <p class="page-section__highlight">{{page.en.topic_description_summary}}</p>
      <a href="{{ page.problem_description_link }}" target="_blank" class="button button--accent-color">Read the Problem Description</a></p>
      {% endcase %}
    </div>
  </div>
  {% endif %}

  {% if page.resources %}
  <div class="row align-center">
    <div class="column large-9 medium-10">
      {% case site.lang %}
      {% when "es" %}
      <h5>RECURSOS</h5>
      {% when "en" %}
      <h5>RESOURCES</h5>
      {% endcase %}
      {% for resource in page.resources %}
      <a class="resource-link" href="{{resource.url}}" target="_blank">{{resource.name}}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="row align-center">
    <div class="column large-9 medium-10">
      <h5>RECOMMENDATIONS</h5>
        <div class="card-container">
          <div class="row expanded medium-collapse">

            {% for i in solutions %}
            {% if i.focusArea == page.en.rec_name %}
              <div class="recommendation-card recommendation-card--topic result-item flex {{ i.resourcesRequired | slugify }} {{ i.focusArea | slugify }}

              {% for j in i.impactedAreas %}
                impact-{{ j | slugify }}
              {% endfor %}
              ">
                <header>
                  <h1>{{i.title}}</h1>
                </header>
                <section>
                  <p>{{i.description}}</p>
                </section>
                <section class="recommendation-card__timeline">
                  <h5>Timeframe</h5>
                  <div class="timeline" data-aggr="{{i.timeRequiredAggressive}}" data-cons="{{i.timeRequiredConservative}}">

                    {% assign aggressive_time = i.timeRequiredAggressive %}
                    {% assign conservative_time = i.timeRequiredConservative | minus: aggressive_time %}

                    {% for i in (1..aggressive_time) %}
                      <span class="timeline__item timeline--aggr timeline--cons" title="Aggressive Timeframe: {{aggressive_time}} month"></span>
                    {% endfor %}

                    {% for i in (1..conservative_time) %}
                      <span class="timeline__item timeline--cons" title="Conservative Timeframe: {{conservative_time | plus: aggressive_time }} months"></span>
                    {% endfor %}

                    {% assign timeline_boxes = 18 | minus: aggressive_time | minus: conservative_time %}

                    {% for i in (1..timeline_boxes) %}
                      <span class="timeline__item"></span>
                    {% endfor %}
                  </div>
                </section>
                <section class="recommendation-card__resources">
                  {% assign amount = i.resourcesRequired %}
                  <h5>Resources: <span>{{i.resourcesRequired}}</span>

                  {% if amount == "Low investment ($10k or less)" %}
                    <div class="resources" title="Low Investment (e.g., $10k or less, uses existing employees)">
                      <i class="material-icons">monetization_on</i>
                    </div>
                  {% elsif amount == "Some Investment ($10k-$100k)" %}
                    <div class="resources" title="Low Investment (e.g., $10k or less, uses existing employees)">
                      <i class="material-icons">monetization_on</i>
                      <i class="material-icons">monetization_on</i>
                    </div>
                  {% elsif amount == "Moderate Investment ($100k-$500k)" %}
                    <div class="resources" title="Low Investment (e.g., $10k or less, uses existing employees)">
                      <i class="material-icons">monetization_on</i>
                      <i class="material-icons">monetization_on</i>
                      <i class="material-icons">monetization_on</i>
                    </div>
                  {% endif %}
                  </h5>

                  <!-- <p><strong>Resource Requirements:</strong></p>
                  <div>{{i.resourcesRequired}}</div> -->
                  <p><strong>Resource Offset: </strong>{{i.resourceOffset}}</p>
                </section>

                <section class="recommendation-card__contacts">
                  <h5>Contacts</h5>
                  <!-- Ideally we would have a <BR> after each name. -->
                  <p>{{i.contacts | markdownify }}</p>
                  <!-- It would be awesome to have a dedicated page for each of these contacts, so we could have links here. -->
                </section>
                <footer class="recommendation-card__tags">
                  <p><strong>Focus Area</strong>
                  <span class="recommendation-card__tag recommendation-card__tag-focus"><a href="{{ '/recommendations.html?filter=.' | append: page.en.rec_slug | relative_url }}">{{i.focusArea}}</a></span></p>
                  {% if i.impactedAreas.size == nill %}
                    <div class="" style="width: 100%;"></div>
                  {% else %}
                    <p><strong>Impacted Areas</strong>
                      {% for j in i.impactedAreas %}
                        <span class="recommendation-card__tag">{{j}}</span><br>
                      {% endfor%}
                      </p>
                  {% endif %}
                </footer>
              </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
  </div>
</div>
</section>
