{% extends "_base.html" %}

{% block content %}
  <section class="top-section top-section--main-color">
    <div class="row">
      <div class="large-12 column">
        <div id="map-wrapper">
          <div class="dashboard dashboard--left">
            <div class="dashboard__item northern-america"><span></span>Norteamérica</div>
            <div class="dashboard__item latin-america-and-the-caribbean"><span></span>Latinoamérica y el Caribe</div>
            <div class="dashboard__item africa"><span></span>Africa</div>
          </div>
          <div class="dashboard dashboard--right">
            <div class="dashboard__item europe"><span></span>Europa</div>
            <div class="dashboard__item asia"><span></span>Asia</div>
            <div class="dashboard__item oceania"><span></span>Oceanía</div>
          </div>
          <div id="map"></div>
        </div>
      </div>
    </div>
    <div class="row form filters-wrapper">
      <div class="large-6 column">
        <h5>Expertos por Sector <span class="reset-filters1">Restablecer filtros</span></h5>
        <div class="filters1">
          <label class="button button--small button--active"><input class="checkbox" type="checkbox" checked value="Academia">Academia</label>
          <label class="button button--small button--active"><input class="checkbox" type="checkbox" checked value="Nonprofit">Organización de la Sociedad Civil</label>
          <label class="button button--small button--active"><input class="checkbox" type="checkbox" checked value="Government">Gobierno</label>
          <label class="button button--small button--active"><input class="checkbox" type="checkbox" checked value="Business">Sector Privado</label>
          <label class="button button--small button--active"><input class="checkbox" type="checkbox" checked value="International Organization">Organización Internacional</label>
        </div>
      </div>
      <div class="large-6 column">
        <h5>Expertos por Tema <span class="reset-filters2">Restablecer filtros</span></h5>
        <div class="filters2">
          <label class="button button--small button--active"><input type="checkbox" class="checkbox" checked value="Trash and Standing Water"> La Basura y el Agua Estancada</label>
          <label class="button button--small button--active"><input type="checkbox" class="checkbox" checked value="Assesing Public Awareness"> Evaluar la Conciencia Pública</label>
          <label class="button button--small button--active"><input type="checkbox" class="checkbox" checked value="Information Collection/Data Governance"> Recolección de Información / Gobernanza de Datos</label>
          <label class="button button--small button--active"><input type="checkbox" class="checkbox" checked value="Long Term Care"> Cuidados de Largo Plazo</label>
          <label class="button button--small button--active"><input type="checkbox" class="checkbox" checked value="Predictive Analytics"> Análisis Predictivo</label>
          <label class="button button--small button--active"><input type="checkbox" class="checkbox" checked value="Communication and Behavior Change"> Comunicación y Cambio de Conductas</label>
          <label class="button button--small button--active"><input type="checkbox" class="checkbox" checked value="Digital Listening"> Escucha digital</label>
        </div>
      </div>
    </div>
  </section>

  <div class="page-section expert-list-section">
    <table class="table-sortable">
      <thead>
        <th width="50px" class="table-sortable__head-cell">&nbsp;</th>
        <th class="table-sortable__head-cell name-column">
          <span>Nombre</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple js-open-table-search"><i class="material-icons">search</i></span>
            <span class="table-sortable__control table-sortable__control--simple sort"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
          <form class="table-sortable__search ">
            <input id="expert__name--input" class="fuzzy-search" type="text" placeholder="Filter by text">
            <button type="submit" class=""><i class="material-icons">close</i></button>
          </form>
        </th>
        <th class="table-sortable__head-cell sector sector-column">
          <span>Sector</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>
        <th class="table-sortable__head-cell sector topic-column">
          <span>Tema</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>
        <th class="table-sortable__head-cell sector organization-column">
          <span>Organización</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="divider">

  </div>
{% endblock %}

{% block scripts %}
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="sortElements.js"></script>
  <script src="experts_data.js"></script>
  <script src="map.js"></script>
{% endblock %}
