<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>
  <div class="filters1" style="display: inline-block; vertical-align: top; margin-right: 30px;">
    <label><input type="checkbox" class="checkbox" checked value="Academia"> Academia</label><br>
    <label><input type="checkbox" class="checkbox" checked value="Nonprofit"> Nonprofit</label><br>
    <label><input type="checkbox" class="checkbox" checked value="Government"> Government</label><br>
    <label><input type="checkbox" class="checkbox" checked value="Business"> Business</label><br>
    <label><input type="checkbox" class="checkbox" checked value="International Organization"> International Organization</label><br>
  </div>

  <div class="filters2" style="display: inline-block">
    <label><input type="checkbox" class="checkbox" checked value="Trash and Standing Water"> Trash and Standing Water</label><br>
    <label><input type="checkbox" class="checkbox" checked value="Assesing Public Awareness"> Assesing Public Awareness</label><br>
    <label><input type="checkbox" class="checkbox" checked value="Information Collection/Data Governance"> Information Collection/Data Governance</label><br>
    <label><input type="checkbox" class="checkbox" checked value="Long Term Care"> Long Term Care</label><br>
    <label><input type="checkbox" class="checkbox" checked value="Predictive Analytics"> Predictive Analytics</label><br>
    <label><input type="checkbox" class="checkbox" checked value="Communication and Behavior Change"> Communication and Behavior Change</label><br>
    <label><input type="checkbox" class="checkbox" checked value="Digital Listening"> Digital Listening</label><br>
  </div>

  <div id="map" style="width: 1000px; height: 700px; background-image: url('/images/world_map_bg.svg'); position: absolute">
  </div>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/scripts/jquery-2.1.4.min.js"></script>
  <script src="/data.js"></script>
  <script src="/map.js"></script>
</body>
</html>