// breakpoints

$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$large: screen and (min-width: 64em);


// colors
$main-color: #2c4758;
$accent-color: #FFAA00;
$theme-color: #04ccb7;