<footer class='footer-alt'>
            <div class="row align-center">
                <div class="medium-6 medium-centered columns">
                    <!-- <h4>In collaboration with</h4> -->
                    <!-- <h4>EN COLABORACIÓN CON</h4> -->
                    <h4>{% t footer.text %}</h4>
                </div>

            </div>
            <div class="row align-center">
                <div class="medium-6 column">
                    <div class="footer-partner">
                        <a class="footer__partner-logo" href="http://www.iadb.org/" target="_blank"><img src="{{site.url}}{{site.baseurl}}/images/partners/idb-white.gif" alt="Inter-American Development Bank"></a>
                    </div>
                </div>
                <div class="medium-6 column ">
                    <div class="footer-partner">
                        <a class="footer__partner-logo" href="http://www.thegovlab.org" target="_blank"><img src="{{site.url}}{{site.baseurl}}/images/govlab-logo-white.png" alt="The GovLab"></a>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <div class="row">
                <div class="large-10 large-centered columns">
                    <!-- <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img class="copyright__cc-badge" alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                    This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. -->
                    <!-- <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img class="copyright__cc-badge" alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                    Este trabajo está autorizado por la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Internacional Creative Commons Attribution-ShareAlike 4.0</a>. -->
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img class="copyright__cc-badge" alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                    {% t footer.copyright.pre-link %} <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">{% t footer.copyright.post-link %}</a>.
                </div>
            </div>
        </div>
        <div id="overlay" class="js-overlay"></div>
