<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>{{page.title}}</title>

<link href="{{site.url}}{{site.baseurl}}/images/favicon.ico" rel="shortcut icon">

<link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/vendor/foundation.min.css">
<link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/vendor/styleguide-v2.1.css">
<link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/vendor/slick.css"/>
<link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/css/styles.css">
<script src="https://use.typekit.net/mvc3cdb.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="{{site.url}}{{site.baseurl}}/vendor/modernizr.js"></script>
<script src="{{site.url}}{{site.baseurl}}/vendor/jquery-2.1.4.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
