---
layout: default
custom_body: homepage
---

<main role="main">
    <!-- main content starts here -->
    <!-- <a href="/map.html" class="divider explore-map"><h5>Explora el mapa de expertos y expertas</h5></a> -->
    <section class="top-section top-section--white">
      <div class="row expanded">
        <div class="column large-12 site-logo__wrapper">
          <a href="{{site.url}}{{site.baseurl}}/index.html"><img class="site-logo" src="{{site.url}}{{site.baseurl}}/images/zika-logo-pos.png" alt="Smarter Crowdsourcing | Zika Logo"></a>
        </div>
      </div>
      <div class="row expanded align-center">
        <div class="column large-10 small-12">
          <section class="imagine-banner">
            <h2>{% t index.imagine.imagine1 %}</h2>
            <h2>{% t index.imagine.imagine2 %}</h2>
            <h2>{% t index.imagine.imagine3 %}</h2>
          </section>
            }
        </div>
      </div>
     <!--  <div class="main-buttons main-buttons__index"> -->
        <!-- <a href="./call-for-participants.html" class="button button--accent-color">Participate</a> -->
        <!-- <a href="./call-for-participants.html" class="button nodisplay button--accent-color">Participa</a> -->
<!--             <a href="./topics.html" class="button button--accent-color">Topics</a>
-->
        <!-- <a href="./topics.html" class="button nodisplay button--accent-color">Temas</a> -->
     <!--    <a href="https://drive.google.com/open?id=1X62chK6dRH_je5X-UjpEu8wlS2b76ghbMOvQbFzeWKY" class="button yesdisplay button--accent-color">READ THIS PAGE IN ENGLISH</a> -->
<!--       </div> -->
    </section>

    <section class="page-section page-section--zebra-dark">
    <br>
      <div class="row align-center collapse">
        <div class="small-12 medium-6 large-5 column">
         <br>
         <br>
          <iframe width="100%" height="240" src="https://www.youtube.com/embed/B9oDOQxCs6E" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="small-12 medium-6 large-6 column">
        <br>
        <br>
          <div class="side-buttons">
            <div class="text-centered"><a href='https://docs.google.com/document/d/1AZNHKnjVlXpqRU5vkvz3PTKz0bS5oII8i_hu04QmoEw/edit#heading=h.qgmunizwlw4' class='button button--accent-color'>{% t index.view_the_playbook %}</a></div>
            <div class="text-centered"><a href='{{site.url}}{{site.baseurl}}/files/zika-one-pager-oct2016.pdf' class='button button--accent-color' download>{% t index.project_description %}</a></div>
            <div class="text-centered"><a href='{{site.url}}{{site.baseurl}}/files/metodologia.pdf' class='button button--accent-color' download>{% t index.methodology %}</a></div>
          </div>
        </div>
      </div>
      <br>
    </section>

    <section>
      <a href="{{site.url}}{{site.baseurl}}/map.html" class="divider explore-map"><h5>{% t index.explore_the_expert_map %}</h5></a>
      <div class="main-buttons main-buttons__map">
          <!-- <a href="./call-for-participants.html" class="button button--accent-color">Participate</a> -->
          <a href="{{site.url}}{{site.baseurl}}/call-for-participants.html" class="button button--map button--accent-color">{% t index.participate %}</a>
          <!-- <a href="./topics.html" class="button button--accent-color">Topics</a> -->
          <a href="{{site.url}}{{site.baseurl}}/topics.html" class="button button--map button--accent-color">{% t global.topics %}</a>
      </div>
    </section>

    <section style="margin-top: -25px; ">
      <div class="row expanded">

        {% for topic in site.data.topics %}
          {% if topic.is_active and topic.conference.is_active %}
            <div class="large-6 small-12 column topic" style="background-image: url({{site.url}}{{site.baseurl}}/images/topics/resized/{{topic.image}})">

              {%case site.lang %}
                {% when "es" %}
                  <h1>{{topic.title}}</h1>
                  <p>{{topic.short_description}}</p>
                {% when "pt" %}
                  <h1>{{topic.pt.title}}</h1>
                  <p>{{topic.pt.short_description}}</p>
                {% when "en" %}
                  <h1>{{topic.en.title}}</h1>
                  <p>{{topic.en.short_description}}</p>
              {% endcase %}

              {% if topic.conference.is_active and topic.conference.is_active_info %}
                <p><a href="{{ topic.slug }}.html" class="button button--theme-color">
                {% t global.more_information %}</a></p> <!-- More Information -->

              {% elsif topic.conference.is_active and topic.conference.is_active_info == false %}

                <p><a href="javascript: void(0)" class="button button--disabled">{% t global.more_information_soon %}</a></p> <!-- More Information Coming Soon -->
              {% endif %}

              <div class="topic__date">
                <!-- <h6>Conference on</h6> -->
                <h6>{% t global.conference_on %}</h6>
                <span class="topic__month">{{ topic.conference.date | date: "%b"}}</span>
                <em class="topic__day">{{ topic.conference.date | date: "%d" }}</em>
              </div>
            </div>
          {% endif %}
        {% endfor %}

        {% for topic in site.data.topics %}
          {% if topic.is_active and topic.conference.is_active == false %} <!-- NEED TO ADD A "NOT" -->
            <div class="large-6 small-12 column topic" style="background-image: url({{site.url}}{{site.baseurl}}/images/topics/resized/{{topic.image}})">

              {%case site.lang %}
                {% when "es" %}
                  <h1>{{topic.title}}</h1>
                  <p>{{topic.short_description}}</p>
                {% when "pt" %}
                  <h1>{{topic.pt.title}}</h1>
                  <p>{{topic.pt.short_description}}</p>
                {% when "en" %}
                  <h1>{{topic.en.title}}</h1>
                  <p>{{topic.en.short_description}}</p>
              {% endcase %}

              <p><a href="{{topic.slug }}.html" class="button button--theme-color">{% t global.more_information %}</a></p>
              <div class="topic__date topic__date-past">
                <!-- <h6>Conference took place on</h6> -->
                <h6>{% t global.conference_took_place_on %}</h6>
                <span class="topic__month">{{ topic.conference.date | date: "%b" }}</span> <!-- topic.conference.date | dateFilter("month") | truncate(3, true, "")}} -->
                <em class="topic__day">{{ topic.conference.date | date: "%d" }}</em> <!-- topic.conference.date | dateFilter("day")}} -->
              </div>
            </div>
          {% endif %}
        {% endfor %}

    </div>
    </section>

    <section class="divider divider--theme-color">
      <!-- <h1>More Information</h1> -->
      <h1>{% t global.more_information %}</h1>
    </section>
    <section class="page-section">
      <div class="row align-center">
        <div class="medium-10 large-9 column more-info">
          <p>{% t index.view_the_schedule_text %}</p>
          <div class="text-centered"><a href='./topics.html' class='button button--accent-color'>{% t index.view_the_schedule %}</a></div>
        </div>
      </div>
    </div>
    </section>
    <section class="page-section page-section--zebra-dark">
      <div class="row align-center">
        <div class="medium-10 large-9 column more-info">
          <p>{% t index.request_an_invitation_text %}</p>
          <div class="text-centered"><a href='{{site.url}}{{site.baseurl}}/call-for-participants.html' class='button button--accent-color'>{% t index.request_an_invitation %}</a></div>
        </div>
      </div>
    </section>
    <section class="page-section">
      <div class="row align-center">
        <div class="medium-10 large-9 column more-info">
        <p>{% t index.view_the_playbook_text %}</p>
          <div class="text-centered"><a href='https://docs.google.com/document/d/1AZNHKnjVlXpqRU5vkvz3PTKz0bS5oII8i_hu04QmoEw/edit#heading=h.qgmunizwlw4' target="_blank" class='button button--accent-color'>{% t index.view_the_playbook %}</a></div>
        </div>
      </div>
    </section>
     <section class="page-section page-section--zebra-dark">
       <div class="row align-center collapse">
         <div class="column medium-10 large-7 small-12">
           <br>
           <br>
           <iframe class="btm-vid" width="100%" height="340px;" src="https://www.youtube.com/embed/YV0TBNl68P4" frameborder="0" allowfullscreen></iframe>

         </div>
       </div>
         <div class="row align-center">
           <div class="column large-12 small-12">
             <p class="video-caption">{% t index.video_caption %}</p>
           </div>
         </div>

      </div>
    </section>
</main>
