---
layout: default

---

<section class="top-section top-section--main-color">
  <!-- <div class="row expanded"> -->
    <h1>Recommendations Summary</h1>
    <h3>Smarter Crowdsourcing for Zika</h3>
  <!-- </div> -->
</section>
<section class="page-section recommendation-filters">
<div class="row align-center">
  <!-- I thought we had a .form--negative for the .select -->
  {% for i in (1..6) %}
  <div class="large-2 columns">
    <div class="select">
      <select name="" id="">
        <option value="">Filter</option>
      </select>
    </div>
  </div>
  {% endfor %}
</div>
</section>
<section class="page-section">
{% for i in site.data.recommendations %}
<div class="recommendation-card">
  <header>
    
    <h1>{{i.rec_name}}</h1>
  </header>
  <section>
    <p>{{i.rec_long_name}}</p>
  </section>
  <section class="recommendation-card__timeline">
    <h5>Timeframe</h5>
    <div class="timeline" data-aggr="{{i.time.aggr}}" data-cons="{{i.time.cons}}">
      <!-- NEED LOGIC HERE -->
      <span class="timeline__item timeline--aggr timeline--cons" title="Aggressive Timeframe: 1 month"></span>
      <span class="timeline__item timeline--cons" title="Conservative Timeframe: 3 months"></span>
      <span class="timeline__item timeline--cons" title="Conservative Timeframe: 3 months"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
      <span class="timeline__item"></span>
    </div>
  </section>
  <section class="recommendation-card__resources">
    <h5>Resources
    {% assign amount = i.resources.amount %}
    <div class="resources" title="Low Investment (e.g., $10k or less, uses existing employees)">
      {% for j in (1..amount) %}<i class="material-icons">monetization_on</i>{% endfor %}</div>
    </h5>
    <!-- TItles can be either of these 3
    Moderate Investment (e.g., $100k - $500 k startup, 1-2 full-time hires, implementation of a small program / pilot) 
    Some Investment (e.g., $10k - $100 k startup, 0-1 full-time hires)
    Low Investment (e.g., $10k or less, uses existing employees)
     -->
    
    <p><strong>Resource Requirements:</strong></p>
    <div>{{i.resources.requirements}}</div>
    <p><strong>Resource Offset:</strong>{{i.resources.offset}}</p>
  </section>
  
  <section class="recommendation-card__contacts">
    <h5>Contacts</h5>
    {% for j in i.contacts %}
    <p><a href="#">{{j.name}}, <em>{{j.org}}</em></a></p>
    {% endfor %}
    <!-- It would be awesome to have a dedicated page for each of these contacts, so we could have links here. -->
  </section>
  <footer class="recommendation-card__tags">
    <p><strong>Focus Area</strong>
    <span class="recommendation-card__tag recommendation-card__tag-focus">{{i.issue_area.focus}}</span></p>
    <p><strong>Impacted Areas</strong>
    {% for j in i.issue_area.collateral %}<span class="recommendation-card__tag">{{j}}</span><br>{% endfor%}</p>
  </footer>
</div>
{% endfor %}

</section>

