---
layout: default

---

<section class="top-section top-section--main-color">
  <div class="row expanded align-center">
    <div class="medium-10 large-8 column top-section__content">
      {% case site.lang %}
      {% when "en" %}
      <h1>Topics</h1>
      <h3>We have divided a major public health issue into several smaller problems that are the greatest priority of governments and are amenable to innovative and actionable solutions.</h3> 
      {% when "es" %}
      <h1>Temas</h1>
      <h3>HEMOS DIVIDIDO UN TEMA IMPORTANTE DE SALUD EN VARIOS PROBLEMAS MENORES QUE CONSTITUYEN LA MÁXIMA PRIORIDAD DE LOS GOBIERNOS Y SE PRESTAN A SOLUCIONES INNOVADORAS Y REALIZABLES.</h3>
      {% endcase %}
      <!-- <div class="main-buttons">
        <a href="https://docs.google.com/document/d/1NGAW0dL8EGO0iTyyKwyOEt2HzOVk-FrAQYHT8d0kjQ0/edit" class="button button--accent-color">Read this page IN ENGLISH</a>
      </div> -->
    </div>
  </div>
</section>
<section>
  <div class="row expanded">
    {% for topic in site.data.topics %}
    {% if topic.is_active and topic.conference.is_active %}
      <div class="large-6 small-12 column topic" style="background-image: url(./images/topics/resized/{{topic.image}})">
        <h1>{{topic.title}}</h1>
        <p>{{topic.short_description}}</p>
        {% if topic.conference.is_active and topic.conference.is_active_info %}
        <p><a href="'/' | append: topic.slug | append: '.html' | relative_url}}" class="button button--theme-color">MÁS INFORMACIÓN</a></p> <!-- More Information -->
        {% elsif topic.conference.is_active and topic.conference.is_active_info %} <!-- not -->
        <p><a href="javascript: void(0)" class="button button--disabled">PRONTO MÁS INFORMACIÓN</a></p> <!-- More Information Coming Soon -->
        {% endif %}
        <div class="topic__date">
          <!-- <h6>Conference on</h6> -->
          <h6>CONFERENCIA EL</h6>
          <span class="topic__month">{{ topic.conference.date | date: "%b"}}</span>
          <em class="topic__day">{{ topic.conference.date | date: "%d" }}</em>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    {% for topic in site.data.topics %}
    {% if topic.is_active and topic.conference.is_active == false %}
      <div class="large-6 small-12 column topic" style="background-image: url({{'/images/topics/resized/' | append: topic.image | relative_url }})">
        {% case site.lang %}
        {% when "es" %}
        <h1>{{topic.title}}</h1>
        <p>{{topic.short_description}}</p>
       <!--  <p><a href="{{topic.title | slug }}.html" class="button button--theme-color">More Information</a></p> -->
        <p><a href="{{'/' | append: topic.slug | append: '.html' | relative_url}}" class="button button--theme-color">MÁS INFORMACIÓN</a></p>
        <div class="topic__date topic__date-past">
          <!-- <h6>This conference took place on</h6> -->
          <h6>ESTA CONFERENCIA SE REALIZÓ EL</h6>
          <span class="topic__month">{{ topic.conference.date | date: "%b"}}</span>
          <em class="topic__day">{{ topic.conference.date | date: "%d" }}</em>
        </div>
        {% when "en" %}
        <h1>{{topic.en.title}}</h1>
        <p>{{topic.en.short_description}}</p>
        <p><a href="{{'/' | append: topic.slug | append: '.html' | relative_url}}" class="button button--theme-color">More Information</a></p>
        <div class="topic__date topic__date-past">
          <h6>This conference took place on</h6>
          <span class="topic__month">{{ topic.conference.date | date: "%b"}}</span>
          <em class="topic__day">{{ topic.conference.date | date: "%d" }}</em>
        </div>
        {% endcase %}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
<div class="divider divider--main-color">
  {% case site.lang %}
  {% when "es" %}
  <h1>TEMAS BAJO CONSIDERACIÓN</h1>
  {% when "en" %}
  <h1>Topics under Consideration</h1>
  {% endcase %}
</div>
<section>
  {% for topic in site.data.topics %}
    {% if topic.is_active == false %} <!-- not -->
        <div class="row expanded align-center topic topic--inactive">
          <div class="large-9 medium-10 column">
          {% case site.lang %}
          {% when "es" %}
          <h1>{{topic.title}}</h1>
          <p>{{topic.short_description}}</p>
          {% when "en" %}
          <h1>{{topic.en.title}}</h1>
          <p>{{topic.en.short_description}}</p>
          {% endcase %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
</section>
